.MenuBlock
{
    display: none;
}
@media(max-width: 1000px) {
    .menuLeft {
        display: none;
    }


    .MenuBlock{
        display: block;
    }


    .main
    {
        padding: 30px;
    }

    .layoutMin
    {
        padding-top: 16px;
        padding: 16px;
    }
}


